.town-title{
    text-align: center;
}

.town-params-name{
    position: absolute;
    left: 12%;
    width: 70%;
    padding-bottom: 40px;

}

.image{
    display: block;
    margin: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    width: 50%;
}
